<header>
    <div class="header vw-100">
    <!-- <div class="logo">My Website</div> -->
    <nav class="navigation">
      <!-- <a routerLink="/"><img src="../../assets/dashboard.jpg"  alt="Home" width="20" height="20"/></a> -->
      &nbsp;&nbsp;

      <mat-icon style="margin: -2px;">home</mat-icon>
      <div class="dashboard">
      <a routerLink="/Dashboard">Dashboard</a></div>

      <mat-icon style="margin-right: -20px;">credit_card</mat-icon>
      <div class="CardWise">
      <a routerLink="/Card Wise">Card Wise</a></div>

      <mat-icon style="margin: -2px;">person</mat-icon>
      <div class="GenderWise">
      <a routerLink="/Gender Wise">Gender Wise</a></div>

      <mat-icon style="margin: -2px;">attach_money</mat-icon>
      <div class="SalesWise">
      <a routerLink="/Sales Wise">Sales Wise</a></div>

      <mat-icon style="margin: -2px;">account_balance</mat-icon>
      <div class="InstitutionWise">
      <a routerLink="/Institution Wise">Institution Wise</a></div>


      <div class="logout"><a routerLink="/Log Out">Log Out</a></div>
            <mat-icon style=" justify-items: end;">logout</mat-icon>
      

      <!-- Add more navigation links as needed -->
    </nav>
    </div>
  </header>
  