<div class="full_class vh-100 d-flex justify-content-center align-items-center">
<h1 style=" color:azure;transform: translate(80%,30%);">Hi Maverics !</h1>
    <div class="col-md-6 offset-md-3 mt-5">
<div class="card">
    <h3 style="color:rgb(8, 8, 8);font-weight:500;text-align: center;">Login</h3>
    
    <div class="card-body">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group col-12 col-md-6"><br>
        <!-- <label style="font-size:medium;"for="username">Username/Email</label> -->
        <input type="text" placeholder="Username/Email" formControlName="userName" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f['userName'].errors }" />
        <div *ngIf="submitted && f['userName'].errors" class="invalid-feedback">
            <div *ngIf="f['userName'].errors?.['required']">Username is required</div>
            <div *ngIf="f['userName'].errors?.['pattern']">Only Alaphbets required</div>
        </div>
    </div>
    <div class="form-group col-12 col-md-6">
        <!-- <label style="font-size:medium;" for="password">Password</label> -->
        <input type="password" placeholder="Password" formControlName="password" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors?.['required']">Password is required</div>
        </div>
    </div>

    <div class="form-group ">
        <div><button [disabled]="loading" class="btn btn-primary">
            Login
        </button></div>
        <a routerLink="../register" class="btn btn-link">Do not have an account? Register here</a>
    
    </div>
</form>
    </div>
</div>
